page-about {
    ion-content{             
        //background-image: url('../assets/imgs/BG.jpg') !important;  
        //background-size:cover !important;    
 }
 .scroll-content{
  background-image: url('../assets/imgs/BG.jpg') !important;  
  background-size:cover !important; 
 }
 .title{
    font-size: xx-small;
 }

 .thumb{
    color: #72EBFD;
    background-color: #fff;
    box-shadow: #000000;
    border-radius: 7px;
    margin-bottom: 15px;
    opacity: 0.90;
 }
 .top-text
  {
    color: #fff;
  }  
  
  .img-doc
  {
    border-radius: 100%;       
    margin-top: 10px;   
    width: 80%;
    height: 80%;
  }
}
