page-profil {
    .scroll-content{
        background-image: url('../assets/imgs/BG.jpg') !important;  
        background-size:cover !important; 
    }
    .top-text{
        color: #fff;
    }
    .img-profil{
        border-radius: 50%;
        width: 25%;
        opacity: 0.80;
    }
    .thumb{
        color: #72EBFD;
        background-color: #fff;
        box-shadow: #000000;
        border-radius: 7px;
        margin-bottom: 15px;
        opacity: 0.80;
     }
     ion-item-divider{
        border-radius: 7px;
        box-shadow: #000000;
     }
}
