page-contact {
    ion-content{             
        background-image: url('../assets/imgs/BG.jpg') !important;  
        background-size:cover !important;    
 }
 .top-text
  {
        color: #fff;
  } 
  .btn{
    color: #72EBFD;
    background-color: #fff;
    box-shadow: #000000;
    border-radius: 7px;
    margin-bottom: 15px;
    opacity: 0.98;
}
}
