page-home {

ion-content{             
        background-image: url('../assets/imgs/BG.jpg');
        background-size:cover;     
 }

 .btn{
     color: #72EBFD;
     background-color: #fff;
     box-shadow: #000000;
     border-radius: 7px;
     margin-bottom: 15px;
     opacity: 0.98;
 }
  .top-text
  {
        color: #fff;
  }   

}
