page-home {

ion-content{             
        background-image: url('../assets/imgs/BG.jpg');     
 }

 .btn{
     color: #72EBFD;
     background-color: #fff;
     box-shadow: #000000;
     border-radius: 7px;
     margin-bottom: 15px;
 }
  .top-text
  {
        color: #fff;
  }   

}
