page-new-doctor {
    .btn{
        color: #ffffff;
        background-color: #009797;
        box-shadow: #000000;
        border-radius: 7px;
        margin-bottom: 15px;
        opacity: 0.98;
    }
    .selectsep{
        direction: rtl;
    }
       
}
